
  footer {
  background-color: rgb(88,88,88);
  padding: 10px;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
  height: 5rem; 
    display: inline-block;
    vertical-align: top;
}
figcaption {
	background-color: black ;
	color: white;
	width: 150px ;
    padding: 15px 25px;
	margin-left: auto;
  margin-right: auto;
display: block;  
	
}

header { font-size: 70px;
}

a:hover {
  color: red;
  float: left;
}


#column {
	  
	padding: 15px 25px;
	margin-left: 15%;
	column-count: 2;
	  column-width: 80px;
	  background-color: #dddddd;
	  color: red;
 
}


		
	
  #kolmas { 
  float: left;
  display: block;
  width: 150px;
  height: 600px;
  background-color: #dddddd;
  }
  
nav {background-color: #b4b4b4; 
padding: 15px 25px;
}


div { width:100%; 
height: 100%;

}

#toinensivu {
background-color: transparent;
}

footer {
  background-color: rgb(96,96,96);
  padding: 10px;
  text-align: center;
  color: white;
}

h3 {
	margin-left: auto;
  margin-right: auto;
display: block; 
text-align:center;}


#lahteet { color: black;
}

article {margin-left: 200px;
display: block;
background-color: black;
padding: 50px;
}

href {

  color: black;
  background-color: transparent;
  text-decoration: none;}




	.dotted { font-size: 15px;
	color: lightgray; 	
	overflow: hidden;
	margin-left: 40px;
	}
	
.dotted {border-style: dotted; }
	
.dotted {width: 100px; 
}
.dotted {height: 100px;
}
.dotted {padding: 2px;
}


h2 {border-style: groove;
 font-size: 20px;
margin-left: auto;
  margin-right: auto;
display: block; 
color: white;
}




img {   display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
  font-size: 18px;
  color: black;
  background-color: white;
}
  
body {
  color: white;
  width: 90%;
margin-left: auto;
margin-right: auto;
}
  
  

body {
  background-color: black;
  background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/9cd7be61db4d8a3.png");
background-size: auto;
}



	
	
